:root {
  --blue: aqua;
}

@font-face {
  font-family: "airstream";
  src: url('./assets/fonts/airstream.woff2');
}

@font-face {
  font-family: "neonlight";
  src: url('./assets/fonts/neonlight.otf');
}

@font-face {
  font-family: "pixel";
  src: url('./assets/fonts/pixel.woff2');
}

html,
body {
  background-color: black;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

.loadingScreen {
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: airstream;
}

.loadingScreen h1 {
  font-family: airstream;
}

@keyframes panLoadingScreen {
  0% {
    background-position-x: -20px;
    background-position-y: 50px;
  }

  100% {
    background-position-x: 100px;
    background-position-y: 0px;
  }
}

#loadingScreenBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130%;
  height: 130%;
  background-image: url('./assets/textures/gui/titleBackground.png');
  background-size: 100%;
  filter: blur(15px);
  animation: panLoadingScreen 10s alternate infinite;
}

.loadingScreen h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
  font-size: 6vh;
  text-shadow: 2px 2px 8px black;
}

canvas {
  background-color: rgba(0, 0, 0, 0);
}

a {
  color: rgb(25, 223, 230);
  text-decoration: none;
  transition: filter 0.2s ease;
}

a:hover {
  filter: brightness(150%);
}

.hud {
  z-index: 10;
}

.versionInfo {
  position: absolute;
  top: 2vh;
  right: 2vh;
  font-size: 2.5vh;
  font-family: pixel;
  color: rgb(43, 238, 245);
  margin: 0;
  text-align: right;
}

.versionInfo h1 {
  font-size: 2.25vh;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.5vh;
}

.versionInfo a {
  font-size: 1.75vh;
  color: rgb(229, 250, 135);
}

.versionInfo p {
  color: white;
  font-size: 1.5vh;
  margin: 0;
  margin-top: 1vh;
}

.crosshair {
  background-color: rgba(0, 0, 0, 0);
  width: 1.5vh;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.crosshairVertical {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  width: 15%;
  min-width: 2px;
  height: 100%;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
}

.crosshairHorizontal {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 15%;
  min-height: 2px;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
}

#playerPosition {
  position: absolute;
  bottom: 1vh;
  left: 1.5vh;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-family: pixel;
  font-size: 2.5vh;
}

.gameInfo {
  margin: 0;
  position: absolute;
  left: 2vh;
  top: 2vh;
  font-family: pixel;
  color: white;
  width: fit-content;
  height: fit-content;
}

.gameInfo p {
  margin: 0 0 1vh 0;
  font-size: 2vh;
}

button {
  padding: 2.25vh 2.5vh 1.5vh 2.5vh;
  margin: 2vh;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: solid 1px aqua;
  border-radius: 1vh;
  color: white;
  font-size: 4vh;
  font-family: "pixel";
  transition: background-color 0.3s ease;
  cursor: pointer;
  z-index: 2;
}

button:disabled {
  filter: opacity(50%);
}

button:disabled:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

button:hover {
  background-color: rgba(25, 25, 25, 0.75);
}

button:active {
  background-color: rgba(255, 255, 255, 0.35);
}

.pauseMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 12;
  text-align: center;
}

.pauseMenu .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  width: 30%;
}

.pauseMenu .menu button {
  width: 100%;
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: 13;
  border: solid 2px white;
  border-radius: 0vh;
  box-shadow: 0, 0, 40px black;
}

.panelBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(20px);
}

.panel iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
}

#applySettings {
  position: absolute;
  bottom: 3vh;
  right: 3vh;
  min-width: 20vh;
}

.closePanel {
  position: absolute;
  top: 3vh;
  right: 3vh;
  min-width: 20vh;
}

.backToGame {
  position: absolute;
  margin: 0;
  top: 5vh;
  right: 5vh;
}

.renderer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.computerDisplay {
  background-color: black;
}

.displayCanvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  padding: 2px;
}

.displayOverlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url('./assets/textures/ScreenOverlay.png');
  background-repeat: repeat;
  background-size: 100px;
  opacity: 100%;
  filter: "blur('100px');";
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

.console {
  width: 40%;
  height: fit-content;
  max-height: 50%;
  position: absolute;
  bottom: 10%;
  left: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.console::-webkit-scrollbar {
  display: none;
}

.console .message {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: sans-serif;
  color: white;
  font-size: 3vh;
  padding: 1vh 0 1vh 0;
  margin: 1vh 0 1vh 0;
  font-family: pixel;
}

.console .message p {
  padding: 0;
  margin: 0 0 0 2vh;
}